[Unit]
Description=StartContainer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
WorkingDirectory=$HOME/wordpress-lemp-docker-compose
ExecStart=/usr/local/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target
