[Unit]
Description=Updates all container images and restarts all once a day.

[Service]
Type=oneshot
WorkingDirectory=/home/core/wordpress-lemp-docker-compose
ExecStart=/usr/bin/sh -c 'docker-compose pull && docker-compose restart'
